html {
    position: relative;
    min-height: 100%;
  }

body {
    margin-bottom:11%;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color:#000000;
    zoom: 0.8;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 100px;
    border-bottom: 7px solid #fff;
}
.header-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

header h1 a {
    color: #fff; 
    text-decoration: none;
    transition: color 0.8s ease;
    font-size:70px;
    text-align: center;
}

header h1 a:hover {
    color: #c0c0c0; 
}

nav {
    display: flex;
    margin-top: 40px;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav li {
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size:25px;
    padding: 10px 15px; 
    border-radius: 5px;
    background-color: #505050; 
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #1e1919; 
}


h1 {
    color: #ffcc00;
    margin-bottom: 20px;
}

.info-item {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    display: inline-block;  /* Чтобы элементы не занимали всю ширину */
    text-align: left;
    width: 80%;  /* Ширина элемента */
}

.info-item h2 {
    color: #ffcc00;
    margin-bottom: 10px;
}

.info-item p {
    color: #ccc;
    margin-bottom: 10px;
}

.info-item img {
    max-width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

#searchFormPopup {
    display: none;
    position: absolute;
    top: 215px;
    left: 450px ;
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    z-index: 1;
    width: 30%;  /* Ширина всплывающего окна */

}

#searchFormPopup form {
    display: flex;
    justify-content: center;

}

#searchFormPopup input[type="text"] {
    padding: 10px;
    margin-right: 10px;
    flex-grow: 1;
    border: 1px solid #666;
    border-radius: 5px;
    color: #fff;
    background-color: #222;
    height: 20px;
 
}

#searchFormPopup button[type="submit"] {
    background-color: #ffcc00;
    color: #000;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
}

#searchFormPopup button[type="submit"]:hover {
    background-color: #ffdd33;
}

.search-button {
    background-color: #ffcc00;
    color: #000;
    border: none;
    padding: 15px 30px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block;
    font-size: 16px; 
    width: 400px;
    height: 50px;
}

.search-button:hover {
    background-color: #ffdd33;
}

footer {
    background-color: #000000;
    position: fixed;
    padding-top: 15px;
    height: 200px ;
    right: 0;
    bottom: 0;
    text-align: center; 
    width: 100%;   
    height: 185px;
    font-size: 19px;
 font-weight: bold;
   color: #fafaff; 
}

.footer-border {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 10px solid #fff;
    border-radius: 15px;
    box-sizing: border-box;
}

.empty{
    color: #fff;
    font-size: 24px;
    margin-bottom: 10px;
    order: -1;
}
